

.colorTexto{
    color: #fef7e1;
}

body{
    margin: 0;
}

.cabeza{
    display: flex;
    background-color: #e2aa87;
    
}

.titulo3{
    padding-left: 100px;
}

.navegador{
    display: flex;
    padding-left: 1200px;
    align-items: center;
}


.paginas{
    text-decoration: none;
    list-style-type: none;
    padding-left: 50px;
    font-weight: bold;
}

.clicPagina{
    text-decoration: none;
}


/*Main*/
.contenedor1{
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imgMain{
    width: 1340px;
}
.articulo1{
    display: flex;
}

.caja1{

}

.imagenPerfil{
    border-radius: 50%;
  width: 200px;
  height: 200px;
}
